/* Fonts */

@font-face {
  font-family: "PT_Sans";
  src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

/* Universal Rules*/

html{
  font-family: "PT_Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: hsla(0, 0%, 29%, 1);

}

body{
display: flex;
justify-content: center;
}

.site-container{
  width: 1600px;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: hsla(207, 90%, 54%, 1);
}

h3{
  font-size: 2rem;
  color: hsla(207, 90%, 54%, 1);
}

h1,
h3{
  font-weight: 700;
  padding: 1.5rem 0rem;
  line-height: 1.2;
}

a{
  color: hsla(207, 90%, 54%, 1);
  text-decoration: none;
}

a:hover{
  color: hsla(88, 50%, 53%, 1);
}

li{
  color: hsla(0, 0%, 29%, 1);
  text-decoration: none;
}

li:hover{
  color: hsla(207, 90%, 54%, 1);
}

p{
  padding-top: 0.5rem,
}

/* Top Bar*/

.top-bar{
  position: fixed;
  z-index: 1;
  height: 4rem;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1600px) {
	.top-bar{
    width: 1600px;
  }
}

.logo{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1.5rem;
  line-height: 1.5rem;
  color: hsla(207, 90%, 54%, 1);
}

.logo span:last-child{
  color: hsla(88, 50%, 53%, 1);
  font-weight: 400;
}


nav{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

ul{
  display: flex;
  align-items: center;
}

li{
  padding: 0.5rem;
}

/* Banner*/

#banner {
  position: relative;
  top: 4rem;
  height: auto;
	background-color: hsla(207, 90%, 54%, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;

}

#banner img {
  padding-right: 1.5rem;
  width: 60%;
  height: auto;
}

.text-box{
  display: block;
  width: 30%;
}

#banner h3{
  color: white;
}


.start {
  background-color: hsla(88, 50%, 53%, 1);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0rem;
  color: white;
}

.start:hover {
  background-color: white;
  color: hsla(88, 50%, 53%, 1);
}



/* Content-section 2*/

.section2{
  position: relative;
  top: 4rem;
  display: flex;


}

.main{
width: 60%;

padding: 0rem 1.5rem;
  border-right: 1px solid hsla(0, 0%, 85%, 1);
}

.main img{
  width: 100%;
  padding-top: 2rem;

}

.main-text{
  padding: 2rem 0rem;
}

.main-text h2{
  padding-bottom: 1rem;
}

.right{
width: 40%;

}


.image-container{
  width: 35%;
  padding: 1rem;
}

.image-container img{
  width: 100%;
  height: auto;
}


.group{
  display: flex;
  padding: 1rem;
  border-bottom: 3px double hsla(0, 0%, 85%, 1);
}

.highlight{
  background-color: hsla(88, 50%, 53%, 1);
  color: white;
}

.highlight h3{
  color: white;
}

.highlight a:hover{
  color: white;
  text-decoration: underline;
}

.column-text{
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.link{
    color: hsla(220, 50%, 50%, 1);
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.column-text h3,
span{
  padding-bottom: 0.5rem;

}

.signature{
  font-size: 0.9rem
}

/* Content-section 3*/

.section3{
  position: relative;
  top: 4rem;
  background-color: hsla(207, 90%, 54%, 1);
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section3 h2{
  text-align: center;
  padding: 0rem;
  margin-bottom: 1rem;
  color: white;
}

.course-content{
display: flex;
justify-content: center;
flex-wrap: wrap;

}

.course{
  margin: 1rem;
  width: 30%;
  background-color: white;

}
.course img{
  width: 100%;
  height: auto;
}

.course div {
  background-color: white;
  margin: 1rem;
}

.course h4{
  text-transform: uppercase;
  padding: 0.5rem 0rem;
  color: hsla(0, 0%, 50%, 1);
}

.course p{
  margin-bottom: 0.5rem;
  color: hsla(0, 0%, 50%, 1);
}


.course:hover{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}


/* Content-section 4*/

.section4{
  position: relative;
  top: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.section4 h2{
  text-align: center;
  padding-bottom: 2rem;
}

.thesis-content{
  display: flex;

}

.videoplayer {
  width: 60%;
  height: auto;
}

.videoplayer h3{
  text-align: left;
}

video {
  width: 100%;
  height: auto;
}

.thesis-content .right {
width: 40%;
border: none;

}

.group2{
  display: flex;
  padding: 1rem;
  border: none;
  margin-left: 1.2rem;
}



footer{
  position: relative;
  top: 4rem;
  padding: 1rem 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid hsla(0, 0%, 85%, 1);
}
